<div class="container"
  <div class="row row-cols-1">
    <div class="col mb-2">
      <%= turbo_stream_from @post %>
      <%= render @post %>
      <%= render "posts/comments", post: @post %>
    </div>
  <div class="col text-center">
    <%= link_to "Back to posts", posts_path, class: "btn btn-outline-light m-1" %>
    <% if user_signed_in? %>
      <%= button_to "Delete", post_path(@post), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger m-1" %>
      <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-warning m-1" %>
    <% end %>
  </div>
</div>
</div>
